
<header>
  <div class="header-content d-flex justify-content-between align-items-center">
      <div class="pesquisa d-flex flex-row justify-content-start  ">
          <img src="../assets/icons8-pesquisar-24 (3).png">
          <p>Procure por  tarefas ...</p>
      </div>
    <div class="dados d-flex flex-row  justify-content-end ">
      <img src="../assets/icons8-email-24.png">
      <img src="../assets/icons8-notification-24.png">
      <p>Lets Code</p>
      <img src="../assets/icons8-buque-de-noiva-48.png">

    </div>

  </div>
  <div class= "pesquisa d-flex flex-row justify-content-start">
      <h1> Studio Board</h1>
      <img src="../assets/icons8-seta-para-expandir-20.png">
  </div>

 </header>
